$primary_green: #e9fccf
$bakgroung: #fffff7
$bakgroung_light: #FFFFFF
$bakgroung_dark: #000000
$title_color: #1b676b
$shirt_colorYellow: yellow
$shirt_colorBlue: blue
$shirt_colorBlack: black
$shirt_colorRed: red
$shirt_colorPurple: purple
$shirt_colorWhite: white

$bakgroungL: #ececec
$bakgroungD: #cecece
