// BLACK
$shirt_colorBlack: black
$shirt_colorBlack1: #000000
$shirt_colorBlack2: #42413f
$shirt_colorBlack3: #3e4847

// BLUE
$shirt_colorBlue: blue
$shirt_colorBlue1: #15172e
$shirt_colorBlue2: #274ba1
$shirt_colorBlue3: #203554
$shirt_colorBlue4: #5c7ea3

//GREEN
$shirt_colorGreen: green
$shirt_colorGreen1: #383f2f
$shirt_colorGreen2: #566137
$shirt_colorGreen3: #124441
$shirt_colorGreen4: #048a35

// YELLOW
$shirt_colorYellow: #e9c800
$shirt_colorYellow1: #c7e513
$shirt_colorYellow2: #ecd249
$shirt_colorYellow3: #eed61c
$shirt_colorYellow4: #d48f16

// RED
$shirt_colorRed: red
$shirt_colorRed1: #4b1016
$shirt_colorRed2: #b51320
$shirt_colorRed3: #e12728
$shirt_colorRed4: #d64b34

// PURPLE
$shirt_colorPurple: purple
$shirt_colorPurple1: #65265f
$shirt_colorPurple2: #d387b5
$shirt_colorPurple3: #b9b1c9
$shirt_colorPurple4: #88636b

// WHITE
$shirt_colorWhite: white
$shirt_colorWhite1: #FFFFFF
$shirt_colorWhite2: #cfd3d4
$shirt_colorWhite3: #aaaead

$primary_green: #e9fccf
$bakgroung: #fffff7
$bakgroung_light: #FFFFFF
$bakgroung_dark: #000000
$title_color: #1b676b
$bakgroungL: #ececec
$bakgroungD: #cecece
$textColorL: #FFFFFF
$textColorD: #000000
