@import "./colors.sass"
.Imagen
  display: grid
  justify-content: center
  align-items: center
  justify-items: center
  height: 20vh
  margin: 25px 0 0 0
  position: absolute
  grid-template-rows: 1fr 40px
  .ImagenContainer
    display: grid
    position: relative
    grid-template-columns: 1fr 1fr 1fr
    align-items: center
    justify-content: center
    justify-items: center
    z-index: 5
    .ImagenDesing
      width: 90%
    .ImagenContainerR
      display: grid
      justify-content: end
      justify-items: end
      align-items: center
      margin-left: 50px
    .ImagenContainerL
      display: grid
      justify-content: start
      justify-items: start
      align-items: center
      margin-right: 50px
    .ImagenBtnR,.ImagenBtnL
      border: none
      background-color: transparent
