@import "./colors.sass"
.LinkMobiledark,.LinkMobilelight
  display: grid
  z-index: 10
  width: 100vw
  height: 100%
  margin: 0
  padding: 0
  top: 0
  position: absolute
.none
  display: none
.LinkMobiledark
  background-color: $bakgroung_dark
.LinkMobilelight
  background-color: $bakgroung_light
